.container {
  width: 42px;
  height: 24px;
  border: 1.5px solid #53c28b70;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 2px;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
}

.icon {
  font-size: 12px;
}

.ball {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #53c28b;
  border-radius: 50%;
}
